



  
  
   





 


   .PostLink{
    padding-left: 150px;
    padding-top: 3px;
   }


.more {
  justify-content: flex-end;
  width: 200px;
  padding-left: 40px;
}


  #hello {
    border-radius: 10px ;
    background-color: blueviolet;
  }


  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom: 2px solid black !important;
    border-right: 0px white!important;
    border-left: 0px white!important;
    border-top: 0px white!important;
  }


  .filter {
    background-color: blue;
  }


  

  .profile{
    padding-top: 10px;
  }

  .Views {
    font-size: 14px;
    padding-top: 5px;
    color: #525252;
  }



  .dropdown-toggle::after {
    display:none;
}
  #caret {
    display: none;
  }

  .helpertext {
    font: 12px sans-serif;
    color: gray;
    width: 20;
  }

  .loc {
    color: #525252;
    font-size: 8;
  }

  

  .cardtitle {
    width: 300;
  }
  


  .fil{
    display: none;
  }
  
 


  @media only screen and (max-width: 480px ) {

    .btn-group{
      display: none;
    }

    .cardtitle {
      width: 300;
    }

    .btn-primary{
      display: none;
    }
.morecol{
  justify-content: center!important;
}

    .CardHeading {
      width: 320px !important;
    }

    .All {
      display: none;
      
    }

    .fil{
      display: block;
    }
    

    

  .ok {
    font-size: 20px;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {

      border-bottom: none !important;
      border-right: none !important;
      border-left: none !important;
      border-top: none !important;
      font-size: 20px;
      color: black;
      font-weight: 700;
      padding-top: 10px;
    }

    .PostLink {
      padding-left: 0px !important;
      

     
    }


    .sarthak {
   height: 0.05;
    }

    .col-sm {
      display: none;
    }

   .coldissapear {
     display: none;
   }

   .location {
     width: 20px;
   }


   

   .grid {
     padding-top: 50;
   }
   .delete {
     display: none;
   }

   .textfield {
     width: 20;
   }
    
   .dissapearButtons {
     background-color: black !important;
   }

   .cardpic {
     display: none;
   }


   .name {
     display: none;
   }

    
   
     
    
  }


 

  .feed {
    /* flex-direction: column; */
    width: 60vw;
  }

  .btn-sm{
    width: 10px;
  }




  


  .sideMenu {
    /* flex-direction: column; */
    width: 10vw;
  }


  .row>* {
    width: 90% !important;
    flex: 1;
  }


  