.computerhead{
    width: 98vw;
    height: 440px;
    flex: row;
    
    display: inline-flex;
    float: left;
    opacity: 0.4;    
}

.container-fluid {
    padding-left: 0 !important;

}


.CS1 {
    display: none;
}

.follow {
    display: none;
}


.KeyboardBackspaceIcon{
    display: none;
}

@media only screen and (max-width: 480px ) {

   
    .computerhead {
        width: 100vw;
        height: 30vh;
    }
 .black{
     margin-top: 0px !important;
     height: 30vh !important;


 }




    .container-fluid {
        padding-left: 10 !important ;
    
    }

    .CS {
        text-align: left;
       left: 0 !important;
       top: 22vh !important;
       font-size: 20px !important;
     
       
    }



    .CS1 {
        position: absolute;
        text-align: left;
       left: 0 !important;
       top: 3vh !important;
       font-size: 20px !important;
       color: white;
       display: block;
     
       
    }

    .info{ 
        left: 0px !important;
        font-size: 15px;
        top: 25vh !important;
    }

    .backarrow{ 
        text-align: left;
        left: 0 !important;
        top: 22vh !important;
        font-size: 20px !important;
       
    }

    .del {
        position: relative;
        color: blue;
        left: 0px !important;
        font-size: 15px;
        top: 25vh !important;
        display: inline-block;
        
    }

    .follow {
        position: absolute;
       left: 30vh ;
       top: 3vh !important;
       font-size: 30px !important;
       color: white;
       display: block;
     
    }

    
}




.black {
    background-color: black;
    margin-top: 10px;
    width: 98vw;
    height: 440px;
}

.CS {
    position: absolute;
    color: white;
    top: 320px;
    left: 200px;
    bottom: 107px;
    font-size: 42px;
}



.backarrow{ 
    position: absolute;
    color: blue;
    
    left: 200px;
    bottom: 107px;
    font-size: 42px;
    display: none;
}

.info {
    color: white;
    top: 371px;
    left: 200px;
    bottom: 107px;
    position: absolute;
    font-family: IBM Plex Sans;

}



