/* 

.header {
    display: flex;
    top: 16px;
    justify-content: space-between;
}

.header > img {
    top: 50px;
    padding-top: 20px;
}

.navbar {
    justify-content: space-between;
}





.form-control.mr-sm-2 {
    padding-left: 70px;
}


.icon {
  
    top: 16px;
    padding-left: 10px;
    
}

has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


.form-inline {
    margin-left: 200px;
    width: 370px;
    border-radius: 50px;
    flex: row;
}


    .form-control{
        border-radius: 50px;

    }

    .navba.navbar-expand-lg {
        margin-bottom: 5px;
        align-items: center;
    }



.header_search> input {
  outline: none;
  border: none;
  background: none;
  width: 300px;

padding: 10px;
bottom: 7px;
position: absolute;

}


.create {
    display: flex;
    flex-direction: 'row';
    font-size: 18px;
    padding-right: 40px;
    padding-top: 25px;
}

.free {
    color: blue;
    text-decoration: none;
}

.arrow {
    color: black;
}

.createacc {
   padding-left: 200px;
   margin-bottom: 2px;
} */

.header_search {
    position: absolute;
    width: 400px;
    
    left: 430px;
    top: 15px;
    border-radius: 21px;
    background-color: #eef3f8;
    align-content: center;
    padding: 10px;
    align-items: center;

   
 
}

.searchicon {
    color: gray;
    position: absolute;
   margin-right: 20px;
   z-index: 1;
   margin-top: 10px;
   margin-left: 20px;
 

}

.form-control {
    border-radius: 50px !important;
}

.form-control.mr-sm-2 {
    padding-left: 70px;
}

.nav.navbar.navbar-expand-lg{
    width: 100vw;
    justify-content: space-between;
    align-content: space-between;
   
}

.icon {
  
    top: 16px;
    justify-content: space-between;
    align-content: space-between;
    
}

.collapse {
    justify-content: space-between;
align-items: center;}





