


 .form-control.mr-sm-2 {
    padding-left: 70px;
}


.form-control {
    border-radius: 50px !important;

}

.form-inline {
    width: 350px;
}
.Dropdown {
    text-decoration: none;
}
.navbar-collapse.collapse.w-100.order-1.order-md-0.dual-collapse2{
    padding-left: 5%;
}

.arrow {
    color: black;
} 

.container-fluid {
    justify-content: space-between;
    align-content: space-between;
}



.searchicon {
    color: gray;
    position: absolute;
   margin-right: 20px;
   z-index: 1;
   margin-top: 10px;
   margin-left: 20px;
 

}
#links {
    padding-top: 15px;
    padding-right: 15px;
}

.navbar-collapse.collapse.w-100.order-3.dual-collapse2{
    justify-content: center;
    align-items: center;

}

.para {
    padding-top: 150;
}