* {
  margin: 0;
  padding: 0;
 
}


@media only screen and (max-width: 480px ) {
  * {
    overflow-x: hidden;
    width: 100vw;
   
  }
}




.app {
  flex: 1;
  object-fit: cover;
  padding: none;
}